## The loopback network interface
auto lo
iface lo inet loopback

## The primary network interface
auto br0
iface br0 inet dhcp
# iface br0 inet static
    # address {{ ansible_default_ipv4.address }}
    # netmask {{ ansible_default_ipv4.netmask }}
    # network {{ ansible_default_ipv4.network }}
    # broadcast {{ ansible_default_ipv4.broadcast }}
    # gateway {{ ansible_default_ipv4.gateway }}

bridge_ports eth0
iface eth0 inet manual